div#app {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	div#app {
		padding-left: 0px;
	}
}

li.team {
	padding-left: 1rem;
}

div.question-panel {
	margin-top: 1rem;
}

div.question-panel .category {
	float: left;
	width: 10rem;
}

div.question-panel .category .header, div.question-panel .category .question {
	display: block;
	padding: 1rem;
	margin: 0.4rem 0.2rem;
}

ul.question-list {
	margin: 0;
}

.question.unanswered {
	cursor: pointer;
}

.question.answered {
	cursor: default;
}

li.add-team {
	margin: 1rem;
}
